.grettings {
    height: 100vh;
    background: linear-gradient(55deg, rgba(0,0,255,0.5) 0%, rgba(0,0,255,0.5) 25%, rgba(0,255,255,0.5) 50%, rgba(0,255,0,0.5) 75%, rgba(0,255,0,0.5) 100%);
    background-color: black;
}

.grettings__content {
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    row-gap: 50px;
}

.grettings__text {
    font-family: var(--fontRU);
    color: white;
    display: flex;
    flex-direction: column;
    row-gap: 10px;
}

.grettings__title {
    font-size: clamp(1rem, 0.806rem + 6.211vi, 4.688rem);
    font-weight: 700;
}

.grettings__desc {
    font-size: clamp(0.5rem, 0.428rem + 2.316vi, 1.875rem);
}

.grettings__btn {
    width: calc(60px + 6vw);
    max-width: 210px;
    height: calc(20px + 2vw);
    max-height: 70px;
    background-color: white;
    color: black;
    border: 0px;
    border-radius: 5px;
    font-family: var(--fontRU);
    font-weight: 500;
    font-size: clamp(0.25rem, 0.197rem + 1.684vi, 1.25rem);
    transition: all 0.5s;
    cursor: pointer;
    box-shadow: 5px 5px 5px gray;
}

.grettings__btn:hover {
    background-color: black;
    color: white;
    box-shadow: 5px 5px 3px #303030;
}

@media(max-width: 650px) {
    .grettings__btn:hover {
        background-color: white;
        color: inherit;
    }
    .grettings__btn:active {
        background-color: black;
        color: white;
    }
}

@media(max-width: 700px) {
    .grettings__btn{
        width: calc(60px + 12vw);
        height: calc(20px + 4vw);
        font-size: clamp(0.5rem, 0.375rem + 2vi, 1.25rem);
    }
}

@media(max-width: 100px) {
    .grettings__btn {
        display: none;
    }
}