.header {
    background-color: var(--BGColor);
    height: 75px;
    width: 100vw;
    position: fixed;
    z-index: 10;
}

.header__content {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
}

/* .header__nav {
} */

.header__list {
    display: flex;
    column-gap: 25px;
}

.header__item {
    font-family: var(--fontRU);
}

/* .header__item a {
} */

@media(max-width: 650px){
    .header__nav {
        display: none;
    }
}

@media(max-width: 250px){
    .header__content {
        display: flex;
        justify-content: center;
    }

    .header .logo-text {
        display: none;
    }

    .header .logo {
        width: 50px;
    }
}

@media(max-width: 650px) {
    .a:hover {
        color: white;
    }
    .logo:hover {
        color: white;
    }
    .a:active {
        color: lightblue;
    }
    .logo:active {
        color: lightblue;
    }
}

.dot-anim {
    width: 5px;
    height: 5px;
    background-color: darkblue;
    border-radius: 2px;
    position: absolute;
    top: 0;
    animation: header-dot 120s infinite;
    animation-timing-function: ease-in-out;
}

@keyframes header-dot {
    0% {
        left: -10px;
        top: 0;
        transform: translate(0, 0);
        width: 5px;
        height: 5px;
    }

    12.5% {
        width: 15px;
        height: 5px;
    }

    25% {
        left: calc(100% + 10px);
        top: 0;
        transform: translate(-100%, 0);
        width: 5px;
        height: 5px;
    }

    37.5% {
        width: 5px;
        height: 15px;
    }

    50% {
        left: calc(100% + 10px);
        top: 100%;
        transform: translate(-100%, -100%);
        width: 5px;
        height: 5px;
    }

    62.5% {
        width: 15px;
        height: 5px;
    }

    75% {
        left: -10px;
        top: 100%;
        transform: translate(0, -100%);
        width: 5px;
        height: 5px;
    }

    87.5% {
        width: 5px;
        height: 15px;
    }

    100% {
        left: -10px;
        top: 0;
        transform: translate(0, 0);
        width: 5px;
        height: 5px;
    }
}