.separator {
    background-color: var(--BGColor);
    height: 350px;
}

.separator__content {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.separator__text {
    color: #333333;
    font-family: var(--fontRU);
    font-size: clamp(0.5rem, 0.461rem + 1.263vi, 1.25rem);
    font-weight: 700;
}